<p>change-password works!</p>
<div class="change-password-container">
  <h2>Change Password</h2>

  <form (ngSubmit)="changePassword()" #pwdForm="ngForm">

    
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        required
      />
    </div>

   
    <div class="form-group">
      <label>Old Password</label>
      <input
        type="password"
        name="oldPassword"
        [(ngModel)]="oldPassword"
        required
      />
    </div>

    
    <div class="form-group">
      <label>New Password</label>
      <input
        type="password"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
      />
    </div>

    <button type="submit" [disabled]="pwdForm.invalid">
      Change Password
    </button>

  </form>
</div>


<!-- <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">

  <input type="text" placeholder="Username" formControlName="username" />
  <input type="password" placeholder="Old Password" formControlName="oldPassword" />
  <input type="password" placeholder="New Password" formControlName="newPassword" />
  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />

  @if (passwordForm?.errors?.['passwordMismatch']) {
    <small>Password do not match</small>
  }

  <button type="submit" [disabled]="passwordForm.invalid">
    Change Password
  </button>

</form>

@if (successMessage) {
  <p style="color: green">{{ successMessage }}</p>
}

@if (errorMessage) {
  <p style="color: red">{{ errorMessage }}</p>
} -->
