.seat {
  width: 45px;
  height: 45px;
  margin: 6px;
  border-radius: 6px;
  border: 1px solid #444;
  cursor: pointer;
  background-color: #e0e0e0;
  font-weight: bold;
}

.seat:hover {
  background-color: #cce5ff;
}

.selected {
  background-color: #4caf50 !important;
  color: white;
}

.booked {
  background-color: #ff4d4d !important;
  color: white;
  cursor: not-allowed;
}
